.wowscroll-content-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.wowscroll-scrollbar {
	position: absolute;
}

.vertical>.wowscroll-scrollbar {
	width: 8px;
	height: 100%;
	top: 0;
	right: 0;
}

.horizontal>.wowscroll-scrollbar {
	width: 100%;
	height: 8px;
	bottom: 0;
	left: 0;
}

.wowscroll-content {
	position: absolute;
	top: 0;
	left: 0;
}

.vertical>.wowscroll-content {
	width: 100%;
}

.horizontal>.wowscroll-content {
	height: 100%;
}

.wowscroll-scrollbar .track {
	width: 100%;
	height: 100%;
	background: gray;
	position: absolute;
}

.wowscroll-scrollbar .thumb {
	background: green;
}

.vertical .wowscroll-scrollbar .thumb {
	width: 8px;
	height: 0;
}

.horizontal .wowscroll-scrollbar .thumb {
	height: 8px;
	width: 0;
}